<h1 class="text-center">Chỉnh sửa thông tin Thành Viên</h1>

<%= render 'form', user: @user %>
<div class="d-flex justify-content-around ">
    <%= link_to 'Xem Chi Tiết', @user , class: "btn btn-info mx-2" %> 
    <%= link_to 'Quay lại', users_path , class: "btn btn-primary mx-2"%>
</div>

